@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  font-size: 62.5%; }

.headerBackground {
  background-color: gray; }
  .headerBackground .itemsNav {
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    font-size: 2rem;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    transition: border 0.2s; }
    .headerBackground .itemsNav:hover {
      border: solid 1px white; }
    .headerBackground .itemsNav .itemActivo {
      border: solid 1px white; }
