/* Reset de Margenes para inciar CSS y que ningun formato por defecto complique el diseño */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Importar Fonts de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

/* Seteo de tamaño base del Font para poder usar "rem" */
html { 
    font-size: 62.5%;
}

/* Index */

.doNotDisplay {
    display:none;
}

.h2Index {
    color: black;
    font-weight: bold;
}

.headerBackground {
    background-color: gray;
}

.itemsNav {
    font-family:'Roboto', sans-serif;
    border: solid 1px  black;
    font-size: 2rem;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    transition: border 0.2s;
}
    
.active {
    border: solid 1px  white;
}

.itemsNav:hover {
    border: solid 1px  white;
}

/* Efectos Index */

.imgRound {
    border: solid 2px white;
    border-radius: 20px;
}

.eventos img, .estudio img, .corporativo img, .viajes img, .cursos img {
    width: 30vw;
    height: auto;
    border: solid 1rem white;
    border-radius: 30px;
    transition: width 0.2s;
}

.eventos img:hover, .estudio img:hover, .corporativo img:hover, .viajes img:hover, .cursos img:hover {
    width: 31vw;
}

/* Footer */

.footer {
    display: flex;
    background-color: black;
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;  
    color:gray;
}

.containerFooterEnlacesHeader {
    color:white;
    padding-bottom: 0.5rem;
}

.containerFooterSocialHeader {
    color: white;
}

.containerFooterEnlaces__list{
    list-style: none;
    text-decoration: none;
}

.containerFooterEnlaces__list li a {
    color: gray;
    transition: color 0.3s;
    list-style: none;
    text-decoration: none;
}

.containerFooterEnlaces__list li a:hover {
    color: white;
}

.containerFooterEnlaces__itemActivo {
    font-weight: bold;
}

.socialMediaIconsCont {
    padding-top: 2rem;
}

.socialMediaIconsCont a {
    color:gray;
    padding-right: 1rem;
    transition: color 0.3s;
    list-style: none;
    text-decoration: none;
}

.socialMediaIconsCont a:hover {
    color: white;
}

/* Quienes Somos - Estudia Fotografia */

.sectionQuienesSomosHeader {
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    height: 10vh;
    text-align: center;
    font-weight: bold;
    color: black;
    width: auto;
    margin-top: 10vh;
}

.sectionQuienesSomos {
    margin-left:5px;
    padding-top: 100px;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.imageQuienesSomos {
    margin-right:5px;
    border: solid 1rem black ;
    border-radius: 30px 5px 5px 30px;
    height: 400px;
    width: auto;
}

.quienesSomosParrafo {
    margin-right:5px;
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    text-align: wrap;
    color: black;
    border: solid 1rem black ;
    border-radius: 5px 30px 30px 5px;
    height: 400px;
    width: 300px;
}

/* nuestros servicios */
.nuestrosServiciosHeader {
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    height: 10vh;
    text-align: center;
    color: black;
    width: auto;
    margin-top: 10vh;
}

.nuestrosServiciosTodos1 {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

.nuestrosServiciosTodos2 {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20vh;
}

.wrapNuestrosServicios {
    display: inline-block;
    position: relative
}

.wrapNuestrosServicios h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    color: white;
}

.imageServicios {
    margin-bottom:1px;
    border: solid 1rem black ;
    border-radius: 30px 30px 5px 5px;
    height: 300px;
    width: 300px;
}

.parrafoServicios {
    margin-top:1px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 1.5rem;
    color:black;
    border: solid 1rem black ;
    border-radius: 5px 5px 30px 30px;
    height: 250px;
    width: 300px;
}
/* preguntas frecuentes */
.sectionPreguntasFrecuentesHeader {
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    height: 10vh;
    text-align: center;
    color: black;
    width: auto;
    margin-top: 10vh;
}

.mainPreguntasFrecuentes {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.boxPreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxPreguntasFrecuentes {
    border: dotted thin black;
    width: 900px;
    height: auto;   
}

@keyframes animate {
    0% {letter-spacing: normal;}
    25% {letter-spacing: 2px;}
    50% {letter-spacing: 4px;}
    75% {letter-spacing: 2px;}
    100%{letter-spacing: normal;}
    }

.Q1:hover {
    background-color:#cccccc;
    font-weight: bold;
    animation-name: animate;
    animation-iteration-count:initial;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.Q2 {
    transition: font-weight, background-color;
}

.Q2:hover {
    font-weight: bold;
    background-color:#cccccc;
}

.boxPreguntasFrecuentesUltima {
    color:red;
    font-size: 4rem;  
}

.boxPreguntasFrecuentesUltimaLink {
    color:red;
    font-size: 4rem;  
    list-style: none;
    text-decoration: none;
    transition: color 0.2s;
}

.boxPreguntasFrecuentesUltimaLink:hover {
    color:blue;
}

/* RESPONSIVE CON MEDIA QUERY */

/* tablet */

@media (min-width:651px) and (max-width:1000px) {

/* index */

    .itemsNav {
        font-size: 1.5rem;
    }

    .containerFooterEnlaces {
        display: none;
    }

    .containerFooterSocial {
        flex-direction: column;
        justify-items: center; 
    }

    .containerFooterSocial h3 {
        text-align: center;
    }

/* quienes somos */

    .sectionQuienesSomos {
        padding-top: 50px;
        padding-bottom: 10vh;
    }

    .imageQuienesSomos {
        border: solid 0.5rem black ;
        height: 200px;
    }

    .quienesSomosParrafo {
        font-size: 1rem;
        border: solid 0.5rem black ;
        height: 200px;
        width: 200px;
    }

/* nuestros servicios */

    .nuestrosServiciosTodos1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .wrapNuestrosServicios h3 {
        top: 20px;
        left: 20px;
        font-size: 2rem;
    }

    .imageServicios {
        border: solid 0.5rem black ;
        height: 150px;
        width: 150px;
    }

    .parrafoServicios {
        border: solid 0.5rem black ;
        font-size: 1rem;
        height: 200px;
        width: 150px;
    }

    /* preguntas frecuentes */

    .sectionPreguntasFrecuentesHeader {
        font-size: 2rem;
    }

    .sectionPreguntasFrecuentesHeader img {
        width: 400px;
    }

    .mainPreguntasFrecuentes {
        margin-top: 15vh;
        font-size: 1.5rem;
    }

    .boxPreguntasFrecuentes {
        width: 500px;
    }

    .boxPreguntasFrecuentesUltima {
        font-size: 3rem;  
    }    

    .boxPreguntasFrecuentesUltimaLink {
        font-size: 3rem;  
    }

}

/* movil diseñado para pantallas 320 a 500px*/

@media (max-width:650px) {

    .itemsNav {
        font-size: 1rem;
    }

    /* quienes somos */

    .sectionQuienesSomosHeader {
        font-size: 2rem;
        height: 5vh;
        width: auto;
    }

    .sectionQuienesSomos {
        padding-top: 50px;
        padding-bottom: 10vh;
        flex-direction: column;
        align-items: center;
    }

    .imageQuienesSomos {
        border: solid 0.5rem black ;
        border-radius: 30px 30px 5px 5px;
        height: 200px;
        width: 250px
    }

    .quienesSomosParrafo {
        font-size: 1.5rem;
        border: solid 0.5rem black ;
        border-radius: 5px 5px 30px 30px;
        height: 300px;
        width: 250px
    }

    /* nuestros servicios */

    .nuestrosServiciosHeader {
        font-size: 2rem;
    }

    .nuestrosServiciosTodos1 {
        padding-top: 30px;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nuestrosServiciosTodos2 {
        padding-top: 0px;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapNuestrosServicios h3 {
        top: 30px;
        font-size: 2rem;
    }
    
    .imageServicios {
        margin-top: 20px;
        border: solid 0.5rem black ;
        height: 150px;
        width: 150px;
    }
    
    .parrafoServicios {
        border: solid 0.5rem black ;
        font-size: 1rem;
        height: 150px;
        width: 150px;
    }

    /* preguntas frecuentes */

    .sectionPreguntasFrecuentesHeader {
        font-size: 1.5rem;
    }
    
    .sectionPreguntasFrecuentesHeader img {
        width: 200px;
    }

    .mainPreguntasFrecuentes {
        margin-top: 5vh;
        font-size: 1rem;
    }
    
    .boxPreguntasFrecuentes {
        width: 200px;
    }
    
    .boxPreguntasFrecuentesUltima {
        font-size: 1.5rem;  
    }   

    .boxPreguntasFrecuentesUltimaLink {
        font-size: 1.5rem;  
    }

    /* footer */

    .footer {
        font-size: 1rem; 
    }

    .containerFooterEnlaces {
        display: none;
    }

    .containerFooterSocial {
        flex-direction: column;
        justify-items: center; 
    }

    .containerFooterSocial h3 {
        text-align: center;
    }

}
