.headerBackground {
    background-color: $color_gray;
        .itemsNav {
            font-family:'Roboto', sans-serif;
            border: $nav_border_active_black;
            font-size: 2rem;
            color: $color_white;
            margin-right: $margin_right_5;
            margin-left: $margin_left_5;
            transition: border 0.2s;
                &:hover {
                    border: $nav_border_active_white;
                }
                .itemActivo {
                    border: $nav_border_active_white;
                }
        }
}